body{
    background:darkblue;
    font-family:'Times New Roman', Times, serif;
    color:white;
}

.card{
    width: 90%;
    max-width:400px;
    margin:200px auto;
}

#Password{
    width:250px;
    padding:10px;
    font-size: 15px;
    color:white;
    outline:none;
    border: 2px solid white;
    background-color: black;
}


#message{
    font-size: 17px;
    color:white;
    display:none;
}



